.navbar{
    border: 2px solid black ;
    position: sticky;
    height: 100%;
    top:0;
}
.tableau{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.onglet{
    border: 1px solid black;
    border-radius: 20px;
}

.points{
    margin: 15px;
    text-decoration:none;
}
body, .navbar {
    margin: 0 ;
}