html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
    text-align: center;
    background-color: #111111;
    color: white;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

.first {
    background: url("img/fondd.jpeg") center/cover no-repeat fixed;
    width: 100%;
    height: 100%;
    padding-top: 23%;
    z-index: 1;
    color: white;
}

.first h1 {
    font-size: 60px;
}

.bvn {
    text-align: center;
    align-items: center;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    width: 29ch;
    margin: auto;
    animation: typing 2s steps(29) 1 forwards;
}

@keyframes typing {
    from {
        width: 0;
    }
}


nav {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(29, 31, 30);
    padding: 10px;
}

nav .profile {
    display: flex;
    align-items: center;
}

nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .profile h1 {
    margin-left: auto;
    font-size: 15px;
    font-family: 'Trebuchet MS', sans-serif;
}

.test {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    list-style: none;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 0;
}

li {
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

li:hover {
    border-bottom-color: black;
}

.bouton {
    border: none;
    outline: none;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    margin-right: 15px;
    transition: all 0.3s ease;
}

.bouton:hover {
    color: #ccc;
    border-bottom-color: black;
}

.bouton a {
    text-decoration: none;
    color: white;
}

.bouton a:hover {
    color: #ADD8E6;
}

section {
    margin: 4%;
}

header div {
    font-size: 20px;
    line-height: 150%;
}

.full-screen-image {
    width: 100%;
    height: 100vh;
    background: url('../public/img/fond.webp') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 50px 20px;
}

.options {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
    gap: 20px;
}

.option {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    min-width: 250px;
    transition: all 0.3s ease;
}

.option img {
    width: 100px;
}

.competences,
.debouches {
    padding: 40px;
}

ul li {
    font-size: 18px;
    margin: 10px 0;
}

.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

.btn-three::before,
.btn-three::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
}

.btn-three::before {
    top: 0;
    left: 0;
}

.btn-three:hover::before {
    opacity: 0;
    transform: scale(0.5);
}

.btn-three::after {
    top: 0;
    left: 0;
    opacity: 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2);
}

.btn-three:hover::after {
    opacity: 1;
    transform: scale(1);
}

.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}

.btn-one span {
    transition: all 0.3s;
}

.btn-one::before,
.btn-one::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
}

.btn-one::before {
    bottom: 0;
    left: 0;
    opacity: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    bottom: 0;
    left: 0;
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

.bts_sio {
    text-align: center;
    margin: 50px auto;
}

.d-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border-radius: 30px;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    border-radius: 30px;
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.card-front {
    background-color: #1D1D1D;
    color: white;
}

.card-back {
    background-color: #2E2E2E;
    color: white;
    transform: rotateY(180deg);
    padding: 20px;
}

.about-me {
    background-color: #1D1D1D;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.about-me h1 {
    color: #007BFF;
    margin-bottom: 30px;
}

.about-me img {
    max-width: 100%;
}

section h1 {
    color: #007BFF;
    margin-bottom: 20px;
}

.list-group-item {
    font-size: 16px;
    border: none;
    padding: 15px;
    background-color: #1D1D1D;
    color: white;
}

.list-group-item a {
    color: #007BFF;
    text-decoration: none;
}

.list-group-item a:hover {
    text-decoration: underline;
}

.skill-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    position: relative;
}

.skill-icon img {
    background-color: black;

    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.skill-label {
    font-size: 0.9rem;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: 5px;
}

.skill-icon:hover .skill-label {
    opacity: 1;
}

.img-adjust {
    padding: 5px;
    background-color: #1D1D1D;
    border-radius: 50%;
    object-fit: contain !important;
}
.rounded-circle {
    border-radius: 50%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    ul {
        flex-direction: column;
        gap: 10px;
    }

    .first {
        padding-top: 40%;
    }

    .options {
        flex-direction: column;
        align-items: center;
    }

    .option {
        width: 80%;
    }

    .d-flex {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        height: 300px;
        margin-bottom: 20px;
        position: relative;
    }
    
    .card-inner {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.6s;
    }
    
    .card-front,
    .card-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
    }
    .veille-articles {
        flex-direction: column;
        align-items: center;
    }

    .veille-img {
        width: 90%;
    }
}

.section-projets {
    padding: 60px 20px;
    background-color: #1D1D1D;
    border-radius: 20px;
    margin-top: 40px;
}

.section-projets h1 {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 50px;
    color: white;
}

.projet {
    background: #1D1D1D;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 50px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projet:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.projet h3 a {
    font-size: 1.8rem;
    font-weight: 600;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.3s;
}

.projet h3 a:hover {
    color: #084298;
    text-decoration: underline;
}

.projet-description {
    font-size: 1.1rem;
    color: white;
    line-height: 1.7;
}

.projet-img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.projet-img:hover {
    transform: scale(1.02);
}

.veille-technologique {
    margin: 50px auto;
    text-align: center;
}

.veille-articles {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.veille-img {
    width: 300px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.veille-img:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #1D1D1D;
    color: white;
    text-align: center;
    border-top: 1px solid #444;
}

.social-icons a {
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.social-icon {
    width: 30px;
    border-radius: 6px;
    height: 30px;
}
@media (max-width: 600px) {
    .bvn {
        width: 90%;
        font-size: 1.2rem;
        white-space: normal;
    }
}
@media (max-width: 1024px) {
    .bvn {
        width: 80%;
        font-size: 1.5rem;
        white-space: normal;
    }
}

.button-project {
    display: inline-block;
    width: 150px;
    margin: 20px auto;
    text-align: center;
    color: black;
    border: none;
outline: none;
    background-color: #ecf0f1; /* bleu bootstrap */
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button-project:hover {
    background-color: #ecf0f1;
    text-decoration: none;
    color: black;
}